* {
    box-sizing: border-box;
}

.ImageSelector {
    
}

.ImageSelectorPhoto {
    max-width: 25%;
    height: auto;
    padding: 0.5em;
}
.selected {
    border-style: solid;
    border-width: 3px;
    border-color: yellow;
}
